{:site-title           "krymtkts"
 :author               "krymtkts"
 :description          "krymtkts's personal blog"
 :site-url             "http://krymtkts.github.io/"
 :post-root            "posts"
 :page-root            "pages"
 :post-root-uri        "posts"
 :page-root-uri        "pages"
 :tag-root-uri         "tags"
 :author-root-uri      "authors"
 :blog-prefix          ""
 :rss-name             "feed.xml"
 :rss-filters          ["cryogen"]
 :recent-posts         3
 :post-date-format     "yyyy-MM-dd"
 :archive-group-format "yyyy-MM"
 :sass-src             []
 :sass-path            "sass"
 :compass-path         "compass"
 :theme                "solarized_light"
 :resources            ["img"]
 :keep-files           [".git" "README.md"]
 :disqus?              false
 :disqus-shortname     ""
 :ignored-files        [#"\.#.*" #".*\.swp$"]
 :posts-per-page       5
 :blocks-per-preview   2
 :previews?            false
 :clean-urls?          true
 :hide-future-posts?   true
 :klipse               {}
 :debug?               false}
